/* 钢琴卷帘图样式 */
#canvasContainer {
    width: 1400px;
    height: 696px;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
    overflow: auto;
    padding: 10px;
    /*background-color: #619fe1;*/
    border-radius: 5px;
}

#pianoRoll {
    /* border: 1px solid #3a1d1d; */
    cursor: crosshair;
}